:root {
  --animation-time: 0.3s;
  --color-1: #ff0000;
  --color-2: #ffee00;
}

.banner {
  .brand {
    display: block;
    font-size: 5rem;
    text-align: center;
    padding-top: $pad-3;
    padding-bottom: $pad-3;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-color var(--animation-time) ease;
    background-color: var(--color-1);
    color: #000;

    &.change {
      background-color: var(--color-2);
    }

    &.w-color {
      -webkit-text-fill-color: transparent;
    }

    &.stop {
      transition: none;
    }
  }

  .nav-primary {
    font-family: $ff-sans;

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    a {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }
}
